<div class="confirm-page">
  <div *ngIf="confirmResult; else confirmFailure">
    <h1>{{ confirmResult.title }}</h1>
    <p class="info">{{ confirmResult.message }}</p>
    <div class="success-confirm" *ngIf="confirmResult.status">
      <h2>Go to login?</h2>
      <div>
        <button class="log-btn" (click)="onToLoginPage()">Yes</button>
        <button class="log-btn" (click)="toWelcomePage()">No</button>
      </div>
    </div>
  </div>
  <ng-template #confirmFailure>
    <app-loader></app-loader>
  </ng-template>
</div>
