.sidebar-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(43, 42, 42);
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: azure;
    color: dimgray;
}

.highlight {
    background-color: azure;
    color: rgb(255, 145, 2);
}