<div class="sign-in-wrapper">
  <h1>Welcome</h1>
  <p>Please, enter your details to sidn in</p>
  <div class="close-modal" (click)="closeModal()">&#10006;</div>
  <form class="sign-in" [formGroup]="signInForm" (ngSubmit)="signIn()">
    <!-- <label for="username">User name</label>
    <input
      type="text"
      id="usermane"
      formControlName="username"
      placeholder="User name"
    />
    <div class="message"></div> -->
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="example@email.com"
    />
    <div class="message"></div>
    <div class="input-wrap">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="password"
        (input)="setBackendError()"
      />
      <img
        src="../../../../assets/icons/showPassword.png"
        alt="showPassword"
        width="16"
        class="show-password"
        appShowPassword
      />
      <div class="message">
        <small class="err-message" *ngIf="loginError">{{
          loginError.error?.message
        }}</small>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="(isFetching$ | async) || signInForm.invalid"
    >
      Sign in
      {{(isFetching$ | async) || signInForm.invalid|json}}
    </button>
  </form>
</div>
